name: Build

on:
    workflow_dispatch:

jobs:
    build:
        permissions:
            contents: write
            packages: write
            pull-requests: write
            issues: write
            statuses: write
            deployments: write
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '20.x'
            - run: npm i
            - name: Build
              run: |
                  npm run build
